source https://api.nuget.org/v3/index.json

storage: none
nuget FParsec
nuget FSharp.Core
nuget FSharp.Data.LiteralProviders
nuget Spectre.Console

group Tests

storage: none
source https://api.nuget.org/v3/index.json
nuget coverlet.collector
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit.Analyzers
nuget NUnit3TestAdapter
nuget DEdge.Diffract